{% extends "files/base.html" %}
{% load static %}
<a style="color:white" class="fr loginbtn" href="{% url 'users:login' %}">上传代码</a>
{% block title %}代码详情{% endblock title %}

{% block content %}
    <div>
    
        <video class="video" autoplay="autoplay" controls="controls" controlslist="nodownload">
            <source src="{{MEDIA_URL}}{{video.file}}" type="video/mp4">
        </video>
        <p>{{ video.title }}</p>
        <hr>
        <p>{{video.description}}</p> 

    </div>
    <a href="/video">返回代码列表</a>

{% endblock content %} 

