{% extends "files/base.html" %}
{% load static %}

{% block title %}我的代码{% endblock title %}

{% block content %}
    <div>代码列表</div>
    <br>
    <div>
        {% if file_list %}
            <ul>
            {% for file in video_list %}
                <a href="{{ file.id }}">{{ file.title }}</a>
                <div>文件名：{{video.description}}</div>
                <div>
                    <span>上传时间：{{ file.create_time }}</span>
                </div>
                <br>
            {% endfor %}
            </ul>
        {% else %}
            <p>还没有上传代码</p>
        {% endif %}
    </div>
{% endblock content %}