{% extends "video/base.html" %}
{% load static %}

{% block title %}代码列表{% endblock title %}

{% block content %}
    <div>代码列表</div>
    <br>
    <div>
        {% if video_list %}
            <ul>
            {% for video in video_list %}
                <a href="{{ video.id }}">{{ video.title }}</a>
                <div>文件名：{{video.description}}</div>
                <div>
                    <span>上传时间：{{ video.create_time }}</span>
                </div>
                <br>
            {% endfor %}
            </ul>
        {% else %}
            <p>还没有上传代码</p>
        {% endif %}
    </div>
{% endblock content %}