{% extends "files/base.html" %}
{% load static %}

{% block title %}我的代码{% endblock title %}

{% block content %}
{% if not request.user.is_authenticated %}
<div>
    <form method="post" action="/files/upload/" enctype="multipart/form-data">
    {% csrf_token %}
        <textarea name="message" rows="10" cols="30">
        对代码功能的描述
        </textarea>
        <input type="file" name="sendfile"/>
        <input type="submit" value="确定"/>
    </form>
    
</div>

 <div><a style="color:white" class="fr loginbtn" href="{% url 'users:login' %}">上传代码</a></div>
    <div>代码列表</div>
    <br>
    <div>
        {% if file_list %}
            <ul>
            {% for file in file_list %}
                <a href="file_show/{{ file.username }}/{{file.filename}}">{{ file.filename }}</a>
                <div>代码描述：{{file.description}}</div>
                <div>
                    <span>上传时间：{{ file.upload_time }}</span>
                    <span>审核情况：{{ file.checked }}</span>
                    <span>上传者：{{ file.username }}</span>
                </div>
                <br>
            {% endfor %}
            </ul>
        {% else %}
            <p>还没有上传代码</p>
        {% endif %}
    </div>
    {% else %}
    登录后可以上传和查看代码
{% endif %}
{% endblock content %}