{% extends "video/base.html" %}
{% load static %}

{% block list %}

<li {% if request.path|slice:'9' == '/org/list' %}class="active" {% endif %}><a
    href="/video">返回视频列表</a></li>

{% endblock list %}

{% block content %}
    <div>
    
        <video class="video" autoplay="autoplay" controls="controls" controlslist="nodownload">
            <source src="{{MEDIA_URL}}{{video.file}}" type="video/mp4">
        </video>
        <p>{{ video.title }}</p>
        <hr>
        <p>{{video.description}}</p> 

    </div>

{% endblock content %} 

