{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}航天创客首页{% endblock %}

{% block custom_bread %}
{% endblock %}

{% block content %}
    <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">
                            {% for banner in all_banners %}
                            <li>
                                    <a href="">
                                        <img width="1200" height="465" src="{{ MEDIA_URL }}{{ banner.image }}" />
                                    </a>
                            </li>
                            {% endfor %}
						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>
			</div>
	</div>
{% endblock %}
	<!--banner end-->

{% block footer %}
<footer>
		<div class="footer">
			<div class="wp">
				<ul class="cont">
					<li class="logo"><a href=""><img src="{% static 'images/footlogo.png' %}"/></a></li>
					<li class="code"><img src="{% static 'images/code.jpg' %}"/>
						<p class="center">扫描关注微信</p></li>
					<li class="third"><img class="fl" src="{% static 'images/tell.png' %}"/>
						<p class="tell">88888888</p>
						<p class="time">周一至周日 9:00-18:00</p></li>
				</ul>
			</div>
			<p class="line"></p>
			<div class="wp clear">
				<span class="fl"> 2019 www.secoder.net.com 航天创客-卫星教育在线交流平台 保留所有权利</span>
				<span class="fr">copyright 2019 ICP备案证书号：京ICP备xxxxx号-1</span>
			</div>
		</div>
	</footer>
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}

