{% load static %}
<!-- 空白背景框jsdialog作为定位 -->
<div class="dialog" id="jsDialog">
    <!-- 提示框 -->
    <div class="successbox dialogbox" id="jsSuccessTips">
        <h1>成功提交</h1>
        <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
        <div class="cont">
            <h2>您的需求提交成功！</h2>
            <p></p>
        </div>
    </div>
    <!--提示弹出框-->
    <div class="bidtips dialogbox promptbox" id="jsComfirmDialig">
        <h1>确认提交</h1>
        <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
        <div class="cont">
            <h2>您确认提交吗？</h2>
            <dd class="autoTxtCount">
                <div class="button">
                    <input type="button" class="fl half-btn" value="确定" id="jsComfirmBtn"/>
                    <span class="fr half-btn jsCloseDialog">取消</span>
                </div>
            </dd>
        </div>
    </div>
    <!-- 修改密码 -->
    <div class="resetpwdbox dialogbox" id="jsResetDialog">
            <h1>修改密码</h1>
            <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
            <div class="cont">
                <form id="jsResetPwdForm" autocomplete="off">
                    <div class="box">
                        <span class="word2">新&nbsp;&nbsp;密&nbsp;&nbsp;码</span>
                        <input type="password" id="pwd" name="password1" placeholder="6-20位非中文字符"/>
                    </div>
                    <div class="box">
                        <span class="word2">确定密码</span>
                        <input type="password" id="repwd" name="password2" placeholder="6-20位非中文字符"/>
                    </div>
                    <div class="error btns" id="jsResetPwdTips"></div>
                    <div class="button">
                        <input id="jsResetPwdBtn" type="button" value="提交"/>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
    </div>
    <!-- 修改用户邮箱 -->
    <div class="dialogbox changeemai1 changephone" id="jsChangeEmailDialog">
        <h1>修改邮箱</h1>
        <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
        <p>请输入新的邮箱地址</p>
        <form id="jsChangeEmailForm" autocomplete="off">
            <div class="box">
                <input class="fl change_email" name="email" id="jsChangeEmail" type="text" placeholder="输入重新绑定的邮箱地址">
            </div>
            <div class="box">
                <input class="fl email_code" type="text" id="jsChangeEmailCode" name="code" placeholder="输入邮箱验证码">
                <input class="getcode getting" type="button" id="jsChangeEmailCodeBtn" value="获取验证码">
            </div>
            <div class="error btns change_email_tips" id="jsChangeEmailTips">请输入...</div>
            <div class="button">
                <input class="changeemai_btn" id="jsChangeEmailBtn" type="button" value="完成"/>
            </div>
            {% csrf_token %}
        </form>
    </div>
    <div class="dialogbox changeemai1 changephone" id="jsChangeMobileDialog">
        <h1>修改绑定手机</h1>
        <div class="close jsCloseDialog"><img src="{% static 'images/dig_close.png' %}"/></div>
        <p>请输入新的手机号码</p>
        <form id="jsChangeMobileForm" autocomplete="off">
            <div class="box">
                <input class="fl change_email" name="mobile" id="jsChangeMobile" type="text" placeholder="输入重新绑定的手机号码">
            </div>
            <div class="box">
                <input class="fl email_code" type="text" id="jsChangeMobileCode" name="code" placeholder="输入手机验证码">
                <input class="getcode getting" type="button" id="jsChangeMobileCodeBtn" value="获取验证码">
            </div>
            <div class="error btns change_email_tips" id="jsChangeMobileTips">请输入...</div>
            <div class="button">
                <input class="changeemai_btn" id="jsChangeMobileBtn" type="button" value="完成"/>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="bg" id="dialogBg"></div>