{% extends 'usercenter_base.html' %}
{% load static %}
{% block title %}
    个人信息
{% endblock %}
{% block user_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="">首页</a>></li>
                <li><a href="">个人中心</a>></li>
                <li>个人信息</li>
            </ul>
        </div>
    </section>
    {% endblock %}

{% block custom_right_content %}
    
{% endblock %}

{% block custom_js %}
<script src="{% static 'js/plugins/jquery.upload.js' %}" type='text/javascript'></script>
<script src="{% static 'js/validateDialog.js' %}" type="text/javascript"></script>
<script src="{% static 'js/deco-user.js' %}"></script>
{% endblock %}